extends layout

block content
    h4 Stats 
    p Question 1
    canvas(id='graph1' width='320' height='320')
    script.
        var data = [#{data}]
    script(src='script.js')
    div(id='questionStats1')
    
        
    p Question 2
    canvas(id='graph2' width='320' height='320')
    script.
        var data = [#{data}]
    script(src='script.js')
    div(id='questionStats2')
        
    p Question 3
    canvas(id='graph3' width='320' height='320')
    script.
        var data = [#{data}]
    script(src='script.js')
    div(id='questionStats3')
        

