doctype
html
  head
    title=title
    link(href='/styles/style.css', rel='stylesheet')
  body
    h3=title

    nav
      a(href="/") Home
      a(href="/login") Login
      a(href="/register") Register
      a(href="/edit/" + session) Edit Account
      a(href="/logout/" + session) Logout

    block content