extends layout

block content
  form(id='form', method='post', action='/register')
    label(for='username') Username: 
    input(type='text', name='username')
    br
    label(for='age') Age: 
    input(type='text', name='age')
    br
    label(for='password') Password: 
    input(type='password', name='password')
    br
    label(for='email') Email: 
    input(type='text', name='email')
    br
    input(type='submit', value='Register')

  div Already have an account?
    a(href="/login/") Click Here!